// Define variables for your color scheme

// For example:
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #343434;
$cream: #EBE1CE;
$red: #E24E32;
$blue: #1570AF;
$yellow: #F5BC38;
