.banner {
  padding: 75px 52.5px;
  display: flex;

  h1 {
    margin-bottom: 40px;
  }
}


// HOME MENU
.home-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-image {
  height: 300px;
}



// SECTIONS
// LEFT
.web-dev {
  background-color: $cream;
  padding: 52.5px;
  text-align: center;

  h2 {
    color: $red;
  }
}

.design {
  background-color: $blue;
  padding: 52.5px;
  text-align: center;

  h2 {
    color: $cream;
  }
}


// RIGHT
.about {
  background-color: $red;
  padding: 52.5px;

  h2 {
    color: $cream;
  }
}

.illustration {
  background-color: $yellow;
  padding: 52.5px;
  text-align: center;
  cursor: pointer;

  h2 {
    color: $blue;
  }
}

.illustration.active {
  padding: 0;
}




// ANIMATIONS
@keyframes left-vanish {
  0%   {transform: translate(0, 0);}
  100% {  transform: translate(-850px, 0px);}
}

.left-vanish {
  animation: left-vanish 1s;
}

.hide-left {
  transform: translate(-850px, 0px);
}

// 



@keyframes right-vanish {
  0%   {transform: translate(0, 0);}
  100% {  transform: translate(850px, 0px);}
}

.right-vanish {
  animation: right-vanish 1s;
}

.right-vanish-slow {
  animation: right-vanish 3s;
}

.hide-right {
  transform: translate(850px, 0px);
}

// 
@keyframes up-vanish {
  0%   {transform: translate(0, 0);}
  100% {  transform: translate(0px, -460px);}
}

.up-vanish {
  animation: up-vanish 1s;
}

.hide-up {
  transform: translate(0px, -460px)
}








@keyframes mover {
  0.0% {
    transform: scale(1) translate(-0px, 0) skew(0deg);
  }
  100% {
    transform: scale(1) translate(-20%, 300px) skew(0deg) rotate(90deg);
  }
}

@keyframes rotate {
  0.0% {
    transform: scale(1) translate(-0px, 0) skew(0deg);
  }
  100% {
    transform: scale(1) translate(0px, 0px) skew(0deg) rotate(-90deg);
    margin-right: 25px;
    // font-size: 64px;
  }
}

@keyframes shrink-padding {
  0.0% {
    padding: 52.5px;
  }
  100% {
    padding: 0;
    font-size: 56px;
  }
}

@keyframes shrink-letter-spacing {
  0.0% {
    letter-spacing: 7px;
  }
  100% {
    letter-spacing: 0;
    font-size: 54px;
  }
}

.hidden {
  display: none;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

