.banner {
  padding: 150px 52.5px;

  h1 {
    margin-bottom: 40px;
  }
}

// 

.home-menu {
  height: 982px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-menu-left, .home-menu-right {
  height: 100%;
  display: grid;
}

.home-menu-left {
  grid-template-rows: 1fr 1fr;
}

.home-menu-right {
  grid-template-rows: 1fr 3fr;
}


// SECTIONS

// LEFT
.web-dev {
  background-color: $cream;
  padding: 52.5px;

  h2 {
    color: $red;
  }
}


.design {
  background-color: $blue;
  padding: 52.5px;

  h2 {
    color: $cream;
  }
}


// RIGHT
.about {
  background-color: $red;
  padding: 52.5px;
  // height: 20%;

  h2 {
    color: $cream;
  }
}

.illustration {
  background-color: $yellow;
  padding: 52.5px;
  // height: 80%;

  h2 {
    color: $blue;
  }
}


