<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body class="bg-red">
  <div class="parallax-bg">
    <div class="container-lg">
      <h1>Camila Modena</h1>
      <h2>Web development,</h2>
      <h2>illustration</h2>
      <h2>+ design</h2>
    </div>
  </div>

  <div class="section">
    dfksldf
  </div>
</body>

