<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body class="bg-red">
  <div class="parallax-bg-header">
    <div class="container-lg">
      <h1 class="font-black">Camila Modena</h1>
      <h2 class="font-white">Web development,</h2>
      <h2 class="font-white">illustration</h2>
      <h2 class="font-white">+ design</h2>
    </div>
  </div>

  <div class="section">
    <div class="grid">
      <% @illustrations.last(8).each do |illustration| %>
        <%= cl_image_tag(illustration.image.key, class: "grid-img") %>
      <% end %>
    </div>
    <div class="d-flex justify-end mr-1">
      <h2>
        <%= link_to "ILLUSTRATIONS" %>
      </h2>
      <div class="arrow-right"></div>
    </div>
  </div>

  <div class="parallax-bg-header">
    <div class="container-md outline-white">
      <h2 class="font-white">I like working with NGOs and small businesses</h2>
      <p class="font-white">write a bit about why write a bit about why write a bit about why</p>
      <p class="font-white">write a bit about why write a bit about why write a bit about why</p>
      <p class="font-white">write a bit about why write a bit about why write a bit about why</p>
    </div>
  </div>
</body>

