.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  margin-left: 7px;
  margin-bottom: 8px;
}

.arrow-red {
  border-left: 35px solid $red;
}

.arrow-cream {
  border-left: 35px solid $cream;
}

.arrow-blue {
  border-left: 35px solid $blue;
}