.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $cream;
}

.bg-blue {
  background-color: $blue;
}