
.menu-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $yellow;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 35px;
  cursor: pointer;
}